@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');

:root {
  --primarycolor: #f8956d;
  --brightercolor: #8f2f0a;
  --darkercolor: #ee9c7b;
  --licolor: #f0bfac;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.3em;
  background-color: var(--darkercolor);
}

h2 {
  color: var(--brightercolor);
  font-weight: 600;
}

.container {
  width: 90%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 0 1em;
  height: 95vh;
  border-radius: 20px;
  background-color: var(--primarycolor);
}

header {
  margin-bottom: 2em;
  padding-top: 1em;
}

li {
  display: flex;
  justify-content: space-between;
  margin: .5em 0;
  background-color: var(--licolor);
  padding: 5px;
  transition: all 1s;
}

.form button {
  font-size: 1em;
  width: 20px;
  text-align: center;
  background: green;
  color: white;
  border: none;
  padding: 1.5px 0;
}

.form input {
  font-size: 1em;
  font-family: 'Montserrat', sans-serif;
  border: none;
  padding: 1px 2px;
}

.form {
  margin-top: .5em;
}

li button {
  font-size: 1em;
  background: red;
  color: white;
  border: none;
  padding: 0 2px;
}




@media only screen and (min-width: 600px){
  li {
    width: 100%;
  }

  ul {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

}